html {
  font-family:"Yu Gothic","游ゴシック",YuGothic,"游ゴシック体";
  line-height: 1.5;
  color: #333 ;
  background-color: #5f5f5;
  margin: 0;
  padding: 20px;
}
body {
  max-width: 900px;
  margin: 0px auto 0px auto;
}


h1 {
  font-size: 28px;
  color: #1a905b;
  border-bottom: 3px solid #1a905b ;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 20px;
  color: #2ab89e;
  margin-top: 25px;
  margin-bottom: 15px;
  border-left: 5px solid #2ab89e;
  padding-left: 12px;
}

p{
  font-size: 18px;
  margin-bottom: 18px;
  line-height: 1.8;
}

ul,ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 8px;
  font-size: 18px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 2px 2px 4px gray;
}

table th {
  background-color: #2aafb8;
  color: #fff;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

table td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: #f0f7ff;
}

nav {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

nav{
border-bottom: 5px solid #ccc;
position: relative;
}
nav ul{
position: absolute;
left:10%;
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
nav ul li{
display: table-cell;
min-width: 50px;
}
nav ul li a{
display: block;
width: 100%;
height: 100%;
padding: 10px 0;
text-decoration: none;
color: #aaa;
}
nav ul li.current{
font-weight: bold;
border-top: 5px solid #00B0F0;
}
nav ul li.current a{
color: #00B0F0;
}
nav ul li a:hover{
color: #0089BB;
background-color: #FBFBDD;
}
nav ul li:hover{
border-top: 5px solid #F8E750;
}

a {
  color: #1a5490;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 5px;
}
