/*style.css-->*/
            h1{color:#48D1CC}
            h2{color:#B0E0E6}

            p.note{
                border-color:gray;
                margin:24px 48px 24px 48px;
                padding:8px;
                background-color:#FFFF99;
            }
